Source: ros-kinetic-rdl
Section: misc
Priority: extra
Maintainer: jordan <jlack1987@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-rdl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rdl-benchmark, ros-kinetic-rdl-cmake, ros-kinetic-rdl-dynamics, ros-kinetic-rdl-urdfreader
Description: The rdl meta-package
